.circle-container {
  position: absolute;
  top: -250px;
  left: -10px;
  display: block;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);

  .circle1 {
    position: absolute;
    top: 150px;
    margin-left: -180px;
    width: 627px;
    height: 627px;
    border: 1px solid var(--primary);
    border-radius: 98%;
    -webkit-transform-origin: 40% 50% 0;
    transform-origin: 40% 50% 0;
    animation: spin 15s linear 0s infinite reverse;
    z-index: 1;
  }
  .circle2 {
    position: absolute;
    // border: 1px solid red;
    border: 1px solid var(--primary);

    border-radius: 98%;
    -webkit-animation: spin 15s linear 0s infinite;
    animation: spin 15s linear 0s infinite;
    top: 340px;
    margin-right: 130px;
    width: 440px;
    height: 440px;
    -webkit-transform-origin: 30% 40% 0;
    transform-origin: 30% 40% 0;
    z-index: 1;
  }
  // .circle3 {
  //   top: 250px;
  //   margin-left: 50px;
  //   width: 627px;
  //   height: 627px;
  //   -webkit-transform-origin: 65% 60% 0;
  //   transform-origin: 65% 60% 0;
  //   position: absolute;
  //   // border: 1px solid yellow;
  //   border: 1px solid var(--primary);
  //   border-radius: 98%;
  //   -webkit-animation: spin 15s linear 0s infinite;
  //   animation: spin 15s linear 0s infinite;
  //   z-index: 1;
  // }

  .circle4 {
    position: absolute;
    // border: 1px solid blue;
    border: 1px solid var(--primary);
    border-radius: 98%;
    -webkit-transform-origin: 75% 50% 0;
    transform-origin: 75% 50% 0;
    top: 300px;
    margin-left: 121px;
    width: 188px;
    height: 188px;
    animation: spin 15s linear 0s infinite reverse;
    z-index: 1;
  }
  .circle5 {
    top: 250px;
    width: 406px;
    height: 406px;
    -webkit-animation: spin 15s linear 0s infinite;
    animation: spin 15s linear 0s infinite;
    position: absolute;
    // border: 1px solid green;
    border: 1px solid var(--primary);
    border-radius: 98%;
    -webkit-transform-origin: 75% 50% 0;
    transform-origin: 75% 50% 0;
    z-index: 1;
  }

  // .circle1 {
  //   position: absolute;
  //   top: 150px;
  //   margin-left: -180px;
  //   width: 450px;
  //   height: 450px;
  //   border: 1px solid var(--primary);
  //   border-radius: 98%;
  //   animation: spin 15s linear 0s infinite reverse;
  //   -webkit-transform-origin: 40% 50% 0;
  //   transform-origin: 40% 50% 0;
  //   z-index: 1;
  // }
  // .circle2 {
  //   position: absolute;
  //   top: 250px;
  //   margin-left: -70px;
  //   width: 250px;
  //   height: 250px;
  //   // border: 1px solid red;
  //   border: 1px solid var(--primary);
  //   border-radius: 98%;
  //   -webkit-animation: spin 15s linear 0s infinite;
  //   animation: spin 15s linear 0s infinite;
  //   -webkit-transform-origin: 30% 40% 0;
  //   transform-origin: 30% 40% 0;
  //   z-index: 1;
  // }
  // .circle3 {
  //   top: 250px;
  //   margin-left: -70px;
  //   width: 450px;
  //   height: 450px;
  //   -webkit-transform-origin: 65% 60% 0;
  //   transform-origin: 65% 60% 0;
  //   position: absolute;
  //   // border: 1px solid yellow;
  //   border: 1px solid var(--primary);
  //   border-radius: 98%;
  //   -webkit-animation: spin 15s linear 0s infinite;
  //   animation: spin 15s linear 0s infinite;
  //   z-index: 1;
  // }

  // .circle4 {
  //   position: absolute;
  //   top: 375px;
  //   margin-left: 50px;
  //   width: 100px;
  //   height: 100px;
  //   // border: 1px solid blue;
  //   border: 1px solid var(--primary);
  //   border-radius: 98%;
  //   animation: spin 15s linear 0s infinite reverse;
  //   -webkit-transform-origin: 75% 50% 0;
  //   transform-origin: 75% 50% 0;

  //   z-index: 1;
  // }
  // .circle5 {
  //   position: absolute;
  //   top: 350px;
  //   margin-left: 20px;
  //   width: 250px;
  //   height: 250px;

  //   // border: 1px solid green;
  //   border: 1px solid var(--primary);
  //   border-radius: 98%;
  //   -webkit-animation: spin 15s linear 0s infinite;
  //   animation: spin 15s linear 0s infinite;
  //   -webkit-transform-origin: 75% 50% 0;
  //   transform-origin: 75% 50% 0;
  //   z-index: 1;
  // }

  // .circle6 {
  //   position: absolute;
  //   top: 375px;
  //   margin-left: -300px;
  //   width: 450px;
  //   height: 450px;
  //   -webkit-transform-origin: 65% 60% 0;
  //   transform-origin: 65% 60% 0;
  //   // border: 1px solid pink;
  //   border: 1px solid var(--primary);
  //   border-radius: 98%;
  //   -webkit-animation: spin 15s linear 0s infinite;
  //   animation: spin 15s linear 0s infinite;
  //   z-index: 1;
  // }

  // .circle7 {
  //   position: absolute;
  //   top: 25px;
  //   margin-left: 50px;
  //   width: 450px;
  //   height: 450px;
  //   // border: 1px solid orangered;
  //   border: 1px solid var(--primary);
  //   border-radius: 98%;
  //   animation: spin 15s linear 0s infinite reverse;
  //   -webkit-transform-origin: 40% 50% 0;
  //   transform-origin: 40% 50% 0;
  //   z-index: 1;
  // }
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
