[theme="goldLight"] {
  --font-color: #869ba9;
  --btn-fontColor: #081521;

  --nav-bg: rgba(8, 21, 33, 0.85);

  --background: #081521;
  --lightBackground: #001f33;

  --primary: #deb992;
  --lightPrimary: #dfcdb9;

  --profile-gradient-1: #4d3f30;
  --profile-gradient-2: #8d765e;
  --profile-gradient-3: #deb992;
}
[theme="darkBlue"] {
  --font-color: #081521;
  --btn-fontColor: #fff;

  --nav-bg: rgba(220, 220, 220, 0.85);

  --background: #dcdcdc;
  --lightBackground: #ffffff;

  --primary: #4056a1;
  --lightPrimary: #c5cbe3;

  --profile-gradient-1: #adbef7;
  --profile-gradient-2: #6d85d4;
  --profile-gradient-3: #4056a1;
}
[theme="pinkBurn"] {
  --font-color: #e9e9e9;
  --btn-fontColor: #fff;

  --nav-bg: rgba(47, 68, 84, 0.85);

  --background: #2f4454;
  --lightBackground: #4f6b81;

  --primary: #e44a70;
  --lightPrimary: #da7b93;

  --profile-gradient-1: #e7a4b5;
  --profile-gradient-2: #e7819b;
  --profile-gradient-3: #e44a70;
}
